[Unit]
Description=Generate Avian Visitors frame
After=network-online.target caddy.service
Wants=network-online.target

[Service]
Type=oneshot
User=ferran
WorkingDirectory=/home/ferran/AvianVisitors/frame
ExecStart=/home/ferran/AvianVisitors/frame/.venv/bin/python /home/ferran/AvianVisitors/frame/server/render-frame.py
